<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.5/phpunit.xsd"
         bootstrap="./tests/bootstrap.php"
         colors="true"
         verbose="true"
>
    <testsuites>
        <testsuite name="kekaadrenalin/yii2-imap">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>./src</directory>
            <directory>./tests</directory>
        </whitelist>
    </filter>
</phpunit>
